// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#search{
	display: inline-block;
}

.index-title{
	margin: 2em 0 2em 0;
}

#map-canvas {
	width: 400px;
	height: 300px;
}

.toggle-comments {
	display: none;
}

.latitude{
	display: none;
}

.longitude{
	display: none;
}