// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input#search{
	display: inline-block;
}

.todo-item {
	border-bottom: 1px solid #ccc;
}
.index-title{
	margin: 2em 0 2em 0;
}

ol#sortable {
	list-style-type: none;
	padding:0px;
	margin-left: 0px;

	dt {
		float: left;
		margin-right: 0px;
	}

	li {
		margin-bottom: 0px;
	}
}

.item-position {
	display: inline-block;
}

.todo-item-title {
	display: inline-block;
	margin-right: 5px;
}

.like-button {
	display: inline-block;
}

#map-canvas {
	width: 100%;
	height: 300px;
}

#chart {
	width: 100%;
	height: 300px;
}



.toggle-comments {
	display: none;
}

.info {
	margin-top: -23px;
}

.latitude{
	display: none;
}

.longitude{
	display: none;
}