<div class="new-comment">
	<h5>New Comment</h5>
</div>
<!-- This comment form will create a new ajax request due to :remote => true and 
go to the "create" action in the Comments controller, passing a params hash with
all the form data -->
<%= form_for Comment.new(:todo_item_id => item.id), :remote => true do |f| %>

	<%= f.hidden_field :todo_item_id %>

	<div class="field">
		<%= f.text_area :body %>
	</div>
	
	<%= f.submit %>
<% end %>