<div class="new-destination">
	<h3>Add a City</h3>
</div>

<%= form_for Destination.new, :remote => true do |f| %>

	<div class="field">
		<%= f.text_field :name, :placeholder => "e.g. 'Bankok' " %>
	</div>
	
	<%= f.submit "Add City" %>
<% end %>